<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mercado Liebre Argentina</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Lato:display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>


    <body>
        <header>
            <div class="header">
                <div class="header-top">
                    <a class="logo"> 
                        <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                    </a>
                    <div class="lupa">
                        <img src="images/img-lupa.jpg" alt="Lupa de Buscador">
                        <ul>
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="#">Tiendas Oficiales</a></li>
                            <li><a href="#">Supermercado</a></li>
                            <li><a href="#">Vender</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
                    </div> 
                    <div class="mano"><i class="fas fa-hand-holding-usd"></i>Comprá hoy y pagá después
                    </div>
                </div>
                <nav>
                  
                    <ul>
                        <li><a href="/register"><i class="far fa-id-card"></i>Creá tu cuenta </i></a></li>
                        <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Ingresá </a></li>
                        <li><a href="#"><i class="fas fa-shopping-basket"></i>Mis compras </a></li>
                    </ul>
                </nav>
        </header>
        <main class="login">
            <form action="/" method="POST">
                <input class= "text-login" type="text" name="user" placeholder="Nombre de usuario">
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="submit" value="Enviar">
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>